@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$navbar_color: #051B2E;
$landingpage_color: #061624;
$button_color: #1789FC;
$header_black_text_color: #051B2E;
$subheader_black_text_color:#454D54;
$footer_color: #106DCC;
$searchbar_category_color: #02294D;
$manrope_font: 'Manrope', sans-serif;