@import "_config";

body {
  font-family: "Manrope", sans-serif;
  background-color: $landingpage_color;
  background-image: url("../assets/dottedmap.svg");
  background-repeat: no-repeat;
  background-position-x: center;
} 
// Set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #051b2e;
  } @else {
    @return #fff;
  }
}
// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
// _buttons.scss
%btn {
  display: inline-block;
  border: none;
  &:hover {
    transform: scale(0.98);
    background-color: $footer_color;
  }
}
.btn-primary {
  @extend %btn;
  background-color: $button_color;
}

//Container
%breathe {
  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .breathe {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .breathe {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .breathe {
    width: 1170px;
  }
}

//Container
.container {
  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

//Header
.header {
  &__bg {
    background-color: $navbar_color;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
  }
  span {
    color: #fff;
    font: 400 14px Manrope;
    &:hover {
      color: $button_color;
      cursor: pointer;
    }
  }
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font: 400 14px Manrope;
    margin: 0 20px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  nav ul li a:hover {
    transition: all 0.5s;
    color: $button_color;
  }
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:hover:after {
    transition: all 0.5s;
    top: 25px;
    color: transparent;
    content: "";
    position: absolute;
    background: $button_color;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: calc(50%);
  }
  &__logo {
    font-family: $manrope_font;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.26px;
    color: #ffffff;
  }
}
//Hero
.hero {
  margin-top: 50px;
  margin-bottom: 100px;

  &__left {
    padding: 90px;
    padding-left: 0px;
    color: #ffffff;
    h1 {
      font-size: 35px;
      color: #ffffff;
      font-weight: 900;
      letter-spacing: 0px;
      line-height: 45px;
      font-family: $manrope_font;
    }
    span {
      font-size: 15px;
      font-weight: 200;
      font-family: $manrope_font;
    }

    .btn-primary__hero {
      @extend %btn;
      background-color: $button_color;
      color: #fff;
      margin-top: 20px;
      display: block;
    }
  }

  &__right {
    text-align: right;
  }
}

.search {
  background-color: #fff;
  position: absolute;
  bottom: -145px;
  padding: 35px 70px 35px 70px;
  box-shadow: 0px 3px 64px #6d7fa31f;

  ul {
    padding: 0;
    margin: 0;
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    text-decoration: none;
    margin: 0 10px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: $searchbar_category_color;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  nav ul li a:hover {
    color: $button_color;
  }

  /* SHIFT */
  nav.shift ul li a {
    position: relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: $button_color;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #e3f1fe;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  hr {
    margin: 0;
    background-color: #f2f5f7;
    height: 1px;
    border: none;
  }

  &__category {
    h3 {
      display: inline;
      font-weight: 600;
      font-size: 14px;
      color: $searchbar_category_color;
      margin: 5px;
      padding-bottom: 10px;
    }
    &__image {
      width: 6px !important;
      height: 13px !important;
      margin-right: 15px !important;
      position: relative !important;
    }
  }

  .search__category:hover {
    background-color: red;
    cursor: pointer;
  }
}

.middle-hero {
  @extend %breathe;
  background-color: #fff;
  padding-top: 100px;

  h1 {
    font-size: 30px;
    color: $header_black_text_color;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    font-family: $manrope_font;
  }

  h3 {
    font-weight: 800;
    display: inline-block;
    margin-left: 10px;
  }
  
  &__left {
    padding-right: 100px;
    &__image {
      height: 50px !important;
      width: 50px !important;
    }
  }
  
  &__right {
    h4{
      color: #454D54;
      font-weight: bold;
      line-height: 20px;
    }
    h5 {
      letter-spacing: 0px;
      line-height: 29px;
      font-size: 13px;
    }
    &__image{
      margin: 0px 20px 0px 0px !important;
      display: inline-block !important;
    }
  }
  .btn-primary__content {
    @extend %btn;
    background-color: $button_color;
    color: #fff;
    margin-top: 30px;
    display: block;
  }

  .btn-primary__underlined {
    // @extend %btn;
    background-color: transparent;
    color: $button_color;
    padding: 0px;
    display: block;
    border: none;
    text-decoration: underline !important;
  }

  .commitment_image{
    height:80% !important;
    width:80% !important;
    padding: 0px 0px 100px 100px !important;
    margin: 0 !important;
  }
}

.search-input {
  border: none;
  background: #f2f5f7 0% 0% no-repeat padding-box;
  height: 45px;
}


.testimonials {
  @extend %breathe;
  padding: 100px 150px 100px 150px;
  background-color: #fff;
  background-image: url(../assets/testimonials.png);
  height: 600px;
  object-fit: fill;

  h1{
    text-align: center;
    color: #fff;
    font-family: $manrope_font;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .testimonial{
    background-color: #fff;
    height: 250px;
    width: 320px;
    padding: 50px;
    box-shadow: 0px 6px 58px #8190AF41;
    border: 2px solid #F0F8FF;

    span{
      color: #454D54;
    }

    h4{
      margin-top: 20px;
      font-weight: bold;

      span{
        color: grey;
        font-weight: normal;
      }
    }

    &__avatar{
      height: 100px !important;
      width: 100px !important;
    }

    &__rating{
      height: 50px !important;
      width: 50px !important;
    }
  }
}


.mobile {
  @extend %breathe;
  background-color: #fff;
  background-image: url(../assets/mobile.svg);
  height: 400px;
  object-fit: fill;

  &__phone{
    object-fit: fill !important;
    max-height: 400px !important;
    margin: 0px !important;
    height: 300px !important;
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    min-height: 300px !important;
  }
}